* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #232323;
        /*overflow: auto; /* cuidado*/
    height: 100px;
        /*ATENÇÃO VOLTA A NAV AQUI SE SUMIR*/
    border-bottom: 3px solid rgb(24, 24, 172);
}
.header .container {
    height: 80px;
}
.header .container .highlight {
    color: rgb(24, 24, 172);
}
.header h1 {
    margin: 0;
    padding: 0;
    float: left;
        /*ATENÇÃO - VAI SUMIR A NAV*/
    margin-top: 30px;
    color: white;
}
.header ul {
    list-style-type: none;
        /*ATENÇÃO - NAO É NO NAV*/
    float: right;
        /*ATENÇÃO - VAI SUMIR A NAV*/
    margin-top: 40px;
}
.header li {
    float: left;
        /*ATENÇÃO ORDENE OS ITENS NA MESMA ORDEM QUE ESTÃO NO HTML*/
    margin-left: 18px;
        /* FIM*/
}
.header a {
    text-transform: uppercase;
    color: white;
}
.header a:hover {
    font-weight: bold;
}
.header .current {
    color: rgb(24, 24, 172);
    font-weight: bold;
}

.container { 
    width: 80%;
    margin: auto;
}

.titulo-colorido {
    color: rgb(24, 24, 172);
}

.img {
    height: 330px;
    width: 100%;
    background-color: rgb(24, 24, 172);
    background-image: url(../img/banner-azul-airjordan.png);
    background-size: cover;
    opacity: 1.2;
    border-bottom: 3px solid rgb(24, 24, 172);
    
}
.img h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    margin: 0;
    padding-top: 175px;
}

.box-sobrenos {
    width: 80%;
    height: 300px;
    background-color: whitesmoke;
    margin-left: 145px;
    margin-top: 20px;
    border-bottom: 5px solid rgb(24, 24, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.img-sobrenos {
    /* background-color: yellow;  */
    background-image: url(../img/perfil2.jpg);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 15px;
}
.text-sobrenos {
    margin-left: 15px;
}

.nossos-intuitos {
    background-color: #4c557c;
    text-align: center;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.nossos-intuitos h2 {
    margin: 0;
    padding-top: 25px;
    color: white;
    text-transform: uppercase;
    margin-right: 220px;
}
.nossos-intuitos .objetivos {
    color: white;
    overflow: auto;
    margin-top: 30px;
    padding-bottom: 35px;
}
.nossos-intuitos .objetivos .obj-um {
    /*border: 3px solid cyan;*/
    width: 18%;
    float: left;
    padding: 1%;
    line-height: 1.5;
}
.nossos-intuitos .obj-um img {
    height: 100px;
    padding: 10px;
}
.container-sobrenos {
    width: 80%;
    margin: auto;
    margin-left: auto;
    margin-left: 255px;
}

.titulo-criador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.titulo-criador h1 {
    padding: 0;
}